    @media (max-width: 750px) {
        body{
            font-size: 12px;
        }
        .pokedex {
            flex-direction: column;
            padding: 30px 0;
        }

        .cartao-pokemon{
            max-width: 300px;
        }
        
        .cartao-pokemon .cartao-imagem{
            width: 200px;
            height: 200px;
        }

        .cartao-pokemon .cartao-informacoes {
            padding: 60px 30px 30px;
            margin-top: -50px;
        }

        .cartao-pokemon .cartao-informacoes .informacoes{
            display: flex;
            justify-content: space-between;
            padding: 50px;
        }

        .cartao-pokemon .cartao-informacoes h3 {
            font-size: 16px;
        }

        .lista-pokemon {
            max-width: 300px;
        }

        .lista-pokemon ul {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .lista-pokemon ul{
            width: 300px;
            margin-bottom: 0;
        }

        .lista-pokemon .pokemon {
            width: 140px;
            margin-bottom: 0%;
            border-radius: 10px;
        }

        .lista-pokemon span {
            padding-right: 5px;
        }
    }